:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #213547;
	background-color: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	margin: 0 auto;
	padding: 2rem;
	border: 1px solid #007d9354;
	border-radius: 24px;
	padding: 24px;
	background-color: white;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
}

/* Inputs */
input,
textarea,
select {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

input[type="number"] {
	width: 50px;
	margin: 10px;
}

input[type="submit"] {
	background-color: #005564;
	color: #fff;
	border: 0;
	height: 40px;
	width: 200px;
	margin: 10px;
	text-transform: uppercase;
}

textarea {
	height: 120px;
}

table,
th,
td {
	border: 1px solid;
}

td {
	padding: 10px;
}

a {
	font-weight: 500;
	color: #007d93;
	text-decoration: inherit;
}

a:hover {
	color: #005564;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #f1f6f4;
	padding-top: 4rem;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
}

header {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	border-bottom: 1px solid #007d9354;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

nav {
	display: flex;
	gap: 1.2rem;
	align-items: center;
}

footer {
	border-top: 1px solid #007d9354;
	text-align: center;
	padding-top: 1rem;
	margin-top: 3rem;
	font-size: 0.8rem;
}

.button {
	align-items: center;
	justify-content: center;
}

.button-selected {
	background-color: #04aa6d; /* Green */
	border: 1px solid #007d9354;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding: 2px 5px;
	margin: 3px 0px;
}

.button-unselected {
	background-color: #f44336; /* Red */
	border: 1px solid #007d9354;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding: 2px 5px;
	margin: 3px 0px;
}

.button-reset {
	background-color: #007bff; /* Blue */
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding: 4px 8px;
	margin: 3px 0px;
}

.row {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: 1px solid #444444;
}

.row-child {
	list-style-type: none;
	padding: 15px;
}

.child:first-child .childinner {
	margin-left: 0;
}

.grid-list-large {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  margin: 0 auto; /* Centers the grid */
  padding: 0;
  justify-content: center; /* Ensures items are centered */
  align-items: center; /* Centers items vertically (if needed) */
}

.grid-list-small {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin: 0 auto; /* Centers the grid */
  padding: 0;
  justify-content: center; /* Ensures items are centered */
  align-items: center; /* Centers items vertically (if needed) */
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-text {
	text-align: center;
  font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	width: 100px;
	height: 100px;
}

.filters {
	max-width: 200px;
	margin-bottom: 20px;
}

.delete {
	border: 0;
	background-color: red;
	color: white;
	padding: 5px 10px;
}

/* Components */
.player-card {
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 10px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
	padding: 20px 50px;
	margin: 10px;
	text-align: center;
	max-width: 250px;
	display: inline-block;
}

.player-card .player-name {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: hsl(0, 0%, 20%);
}

.player-card .player-stats {
	font-family: Arial, Helvetica, sans-serif;
	color: hsl(0, 0%, 30%);
}
